<table class="table table-condensed table-hover">
<thead>
  <tr>
    <th>Brewery</th>
    <th>Avg. rating</th>
  </tr>
</thead>
<tbody>
  <% top_list.each do |b| %>
    <tr>
      <td><%= link_to b.name, b %></td>
      <td><%= sprintf "%0.1f", b.average_rating %></td>
    </tr>
  <% end %>
</tbody>
</table>

