<table class="table table-condensed table-hover">
<thead>
  <tr>
    <th><%= top_list.first.class.name %></th>
    <th>Avg. rating</th>
  </tr>
</thead>
<tbody>
  <% top_list.each do |b| %>
    <tr>
      <td><%= link_to b.name, b %></td>
      <td><%= round b.average_rating %></td>
    </tr>
  <% end %>
</tbody>
</table>

