<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>

<div class="col-md-4">
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style', new_style_path if current_user %>
</div>
